<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :content %></strong><br>
    <%= f.text_area :content %>

	<% if creating %>
		<%= f.hidden_field :subject_id, :value => @subject.id %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :category_id, :value => @category_id %>
		<% if @message_replying %>
			<%= f.hidden_field :quote_id, :value => @message_replying.id %>
		<% end %>
	<% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	
<% end %>
