
<div class="nav-tree">	
	<%= link_to "Categories", categories_path %> > 
	<%= link_to @subject.category.name, @subject.category %> >
	<%= link_to @subject.name, @subject %>	
</div>

<h2>Creating new message</h2>

<% if current_user %>
	<% if @message_replying %>
		<div class="message-bottom-bar-quote", type="reply">
					<strong><%= link_to @message_replying.user.username, @message_replying.user %> said..</strong>
					<%= simple_format(@message_replying.content) %>
		</div>
		<br>
	<% end %>
	<%= render 'form', { :creating => true }%>
<% else %>
	<%= render 'lacking_rights_partial' %>
<% end %>
