
<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    	<%= f.label :name %><br>
    	<%= f.text_field :name %>

	<% if creating %>
		<%= f.hidden_field :category_id, :value => @category_id %>
		<%= f.hidden_field :user_id, :value => @user_id %>		

		<ul>
			<%= f.fields_for :messages do |messages_form| %>
				<li>
					<%= messages_form.label :content %><br>
					<%= messages_form.text_area :content %>
					<%= messages_form.hidden_field :user_id, :value => @user_id %>
				</li>
			<% end %>
		</ul>

	<% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
