
<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    	<strong><%= f.label :name %></strong><br>
    	<%= f.text_field :name %>

	<% if creating %>
		<%= f.hidden_field :category_id, :value => @category.id %>
		<%= f.hidden_field :user_id, :value => current_user.id %>		
		<br><br>
		<%= f.fields_for :messages do |messages_form| %>
			<strong><%= messages_form.label :content %></strong><br>
			<%= messages_form.text_area :content %>
			<%= messages_form.hidden_field :user_id, :value => current_user.id %>
			<%= messages_form.hidden_field :category_id, :value => @category.id %>
		<% end %>
	<% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
