<%= stylesheet_link_tag 'messages' %>

<div class="nav-tree">	
	<%= link_to "Categories", categories_path %> > 
	<%= link_to @subject.category.name, @subject.category %> >
	<%= @subject.name %>	
</div>

<% if current_user %>
	<div class="new-message-box">
		<%= link_to "new message", 
			new_message_path(:subject_id => @subject.id,
							    :user_id => current_user.id, 
							    :category_id => @subject.category.id,
							    :last_page => @last_page),
			 class:"link-button" %>
	</div>
<% end %>

<div class="page-nav">
	<% if @has_prev_pages %>
		<%= link_to "<<", @subject, class:"page-nav-button" %>
		<%= link_to "<", subject_path(@subject, :page => @page - 1), class:"page-nav-button" %>
	<% end %>

	<div class="page-nav-button"><%= @page %></div>

	<% if @has_more_pages %>
		<%= link_to ">", subject_path(@subject, :page => @page + 1), class:"page-nav-button" %>
		<%= link_to ">>", subject_path(@subject, :page => @last_page), class:"page-nav-button" %>
	<% end %>
</div>

<br>

<p>
<% @messages.each do |message| %>
	<div class="message-top-bar">
		<%= link_to message.user.username, message.user %>
		<p class="message-top-bar-date"><%= message.created_at_formatted%></p>
	</div>

	<div class="message-bottom-bar">
		<div style="padding-bottom:5px;">
		</div>

		<div class="message-bottom-bar-content">
			<%= simple_format(message.content) %>
		</div>

		<% if !message.user.signature.nil? %>
			<div class="message-bottom-bar-signature">
				<p>---</p>
				<%= simple_format(message.user.signature) %>
			</div>
		<% end %>

		<div class="message-bottom-bar-btns">
			<!--<% if current_user %>
				<%= link_to "reply", new_message_path(:subject_id => @subject.id, :user_id => current_user.id, :category_id => @subject.category.id, :message_replying => message), class:"link-button" %>
			<% end %> -->
			<% if current_user && current_user.can_edit_message(message) %>
				<%= link_to 'edit', edit_message_path(message, :page => @page), class: "link-button", type:"edit-button" %>
			<% end %>
			<% if current_user && current_user.can_delete_message(message) %>
				<%= link_to 'delete', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-button", type:"delete-button" %>
			<% end %>
		</div>

	</div>
<% end %>

<% if @has_rights %>
	<p>
	<%= link_to 'edit subject', edit_subject_path(@subject), class:"link-button", type:"edit-button" %>
	<%= link_to 'delete subject', @subject, method: :delete, data: { confirm: 'Are you sure?' }, class:"link-button", type:"delete-button" %>
	</p>
<% end %>
