
<div class="nav-tree">	
	<%= link_to "Categories", categories_path %> > 
	<%= link_to @subject.category.name, @subject.category %> >
	<%= @subject.name %>	
</div>

<p>
<% @messages.each do |message| %>

	<div class="message-top-bar">
		<%= link_to message.user.username, message.user %>
		<p class="message-top-bar-date"><%= message.created_at_formatted%></p>
	</div>

	<div class="message-bottom-bar">
		<div style="padding-bottom:5px;">
		</div>

		<div class="message-bottom-bar-content">
			<%= simple_format(message.content) %>
		</div>

		<% if !message.user.signature.nil? %>
			<div class="message-bottom-bar-signature">
				<p>---</p>
				<%= simple_format(message.user.signature) %>
			</div>
		<% end %>

		<div class="message-bottom-bar-btns"> 
			<% if current_user && current_user.can_edit_message(message) %>
				<%= link_to 'edit', edit_message_path(message), class: "link-button", type:"edit-button" %>
			<% end %>
			<% if current_user && current_user.can_delete_message(message) %>
				<%= link_to 'delete', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-button", type:"delete-button" %>
			<% end %>
		</div>

	</div>
<% end %>

<% if current_user %>
	<p><%= link_to "new message", new_message_path(:subject_id => @subject.id, :user_id => current_user.id), class:"link-button" %></p>
<% end %>

<% if @has_rights %>
	<%= link_to 'edit', edit_subject_path(@subject), class:"link-button", type:"edit-button" %>
	<%= link_to 'delete', @subject, method: :delete, data: { confirm: 'Are you sure?' }, class:"link-button", type:"delete-button" %>
<% end %>
