<p id="notice"><%= notice %></p>

<h1>	
<%= link_to "Categories", categories_path %> > 
<%= @category.name %>	
</h1>

<p>
<h2>Subjects:</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<% @subjects.each do |subject| %>
			<tr>
				<td> <%= link_to subject.name, subject %> </td>
			</tr>
		<% end %>
	</tbody>
</table>
</p>

<% if current_user %>
	<p><%= link_to"+ new subject", opensubject_path(:category_id => @category.id, :user_id => current_user.id) %></p>
<% end %>

<% if current_user && current_user.admin %> 
	<%= link_to 'Edit', edit_category_path(@category) %> |
	<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

