<p id="notice"><%= notice %></p>

<h1>	
<%= link_to "Categories", categories_path %> > 
<%= @category.name %>	
</h1>

<p>
<h3>Subjects:</h3>
<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<% @subjects.each do |subject| %>
			<tr>
				<td> <%= link_to subject.name, subject %> </td>
			</tr>
		<% end %>
	</tbody>
</table>
</p>

<% if current_user %> 
	<% if current_user.admin %>
		<%= link_to 'Edit', edit_category_path(@category) %> |
		<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
<% end %>

