<!DOCTYPE html>
<html>
<head>
  <title>Webforum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navibar">
	<% if current_user %>
		<strong><%= current_user.username %></strong> signed in
		</br>
		<div><%= link_to "sign out", signout_path %></div>
	<% else  %>
		<div><%= link_to "sign in", signin_path %></div>
		<div><%= link_to "sign up", signup_path %></div>
	<% end %>
</div>

<%= yield %>

</body>
</html>
